<div class="problem-card">
    <div class="status-icon {% if challenge.is_accepted %}status-solved{% endif %}">
        {% if challenge.is_accepted %}
        <i class="fa-solid fa-check"></i>
        {% else %}
        <i class="fa-solid fa-o"></i>
        {% endif %}
    </div>
    <div class="problem-info">
        <a href="{% url 'challenge_detail' challenge.slug %}" class="problem-title">{{ challenge.id }}.
            {{ challenge.title|capfirst}}</a>
        <div class="problem-meta">
            <span class="category-label" style="color: var(--theme-blue);"><i class="fa-solid fa-gem"></i> {{ challenge.current_score }}</span>
            <span class="category-label"><i class="fa-solid fa-user"></i> {{ challenge.solvers_count }}</span>
            <span class="category-label"><i class="fa-solid fa-check-double"></i> {{ challenge.acceptance_rate }}% </span>
        </div>
    </div>
    <div class="problem-actions">
        {% if user.is_authenticated %}
            <button class="bookmark-btn {% if challenge.is_saved %}active{% endif %}" data-slug="{{ challenge.slug }}">
                <i class="{% if challenge.is_saved %}fa-solid{% else %}fa-regular{% endif %} fa-bookmark"></i>
            </button>
        {% endif %}
    </div>
</div>