{% extends '../shared/_blank.html' %}
{% block title %} {{ challenge.title }} {% endblock %}
{% block content %}
{% load static %}
{% load i18n %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 p-0">
      <a href="{% url 'challenge_list' %}" class="btn btn-light m-3">
        <i class="ti ti-arrow-left me-1"></i> Back
      </a>
    </div>
    <div class="col-lg-6 p-0">
      <div class="challenge-description-wrapper card mb-0 rounded-0 border-0">
        <div class="card-body">
          <h2 class="mb-4 fw-semibold">{{challenge.id}}. {{ challenge.title }} 
            {% if challenge.difficulty == 'easy' %}
            <span class="badge bg-success rounded-3 fw-semibold vertical-align-middle mx-2">Easy</span>
            {% elif challenge.difficulty == 'medium' %}
            <span class="badge bg-warning rounded-3 fw-semibold vertical-align-middle mx-2">Med.</span>
            {% elif challenge.difficulty == 'hard' %}
            <span class="badge bg-danger rounded-3 fw-semibold vertical-align-middle mx-2">Hard</span>
            {% endif %}
          </h2>
          {% for tag in challenge.tags.all %}
            <a href="{% url 'challenge_by_tag' tag.slug %}" class="badge bg-light rounded-3 me-1 fs-sm">{{ tag.name }}</a>
          {% endfor %}
          <p class="mt-5">{{ challenge.description|safe }}</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 p-0">
      <div class="challenge-solution-wrapper">
        <div class="card">
          <div class="card-body">
            <form action="{% url 'run_code' challenge.slug %}" method="post">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Your solution</label>
                <textarea class="form-control" rows="15"></textarea>
              </div>
              <button type="submit" class="btn btn-primary me-2"><i class="ti ti-player-play me-2"></i> Run code</button>
              <button class="btn btn-success"><i class="ti ti-cloud-upload me-2"></i>Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
{% endblock content %}