<div class="term-card">
    <div class="term-card-header">
        <a class="term-title" href="{% url 'term' term.slug %}">{{ term.term }}</a>
        {% if term.topic %}
        <span class="term-topic-badge">
            {% if term.topic.icon %}{{ term.topic.icon }}{% else %}<i class="fa-solid fa-tag"></i>{% endif %}
            {{ term.topic.name }}
        </span>
        {% endif %}
    </div>
    <div class="term-preview">{{ term.short_definition }}</div>
    <div class="card-footer">
        <a class="read-btn btn-transform" href="{% url 'term' term.slug %}">Batafsil</a>
        {% if user.is_authenticated %}
        <button class="bookmark-btn {% if term.is_saved %}active{% endif %}" data-slug="{{ term.slug }}">
            <i class="{% if term.is_saved %}fa-solid{% else %}fa-regular{% endif %} fa-bookmark"></i>
        </button>
        {% endif %}
    </div>
</div>