{% extends '../shared/_base.html' %}
{% block title %} {{ course.title }} {% endblock %}
{% block content %}
{% load static %}
{% load i18n %}
<section class="course-content-area">
    <div class="course-banner">
        <div class="banner-content">
            <h1>{{ course.title }}</h1>
            <p>{{ course.description }}</p>
            {% if not is_enrolled %}
            <form action="{% url 'enroll_course' course.slug %}" method="post" class="course-enroll-form">
                {% csrf_token %}
                <button class="btn-3d btn-gold btn-transform">Sayohatni boshlash</button>
            </form>
            {% else %}
            <a href="{% url 'course_path' course.slug %}" class="btn-3d btn-gold btn-transform">Davom ettirish</a>
            {% endif %}
        </div>
        <i class="fa-brands fa-python banner-icon"></i>
    </div>
    <div class="content-card">
        <h2 class="section-title">Nimalarni o'rganasiz</h2>
        <ul class="learning-list">
            {% for learning_detail in course.learning_details.all %}
            <li>
                <i class="fa-solid fa-check check-icon"></i>
                <span>{{ learning_detail.text|safe }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="content-card">
        <h2 class="section-title">Nishonlar</h2>
        <div class="badges-grid">
            <div class="badge-item">
                <div class="badge-icon-bg b-gold">
                    <i class="fa-solid fa-scroll"></i>
                </div>
                <span class="badge-label">Syntax Starter</span>
            </div>
            <div class="badge-item">
                <div class="badge-icon-bg b-purple">
                    <i class="fa-solid fa-bug"></i>
                </div>
                <span class="badge-label">Bug Hunter I</span>
            </div>
            <div class="badge-item">
                <div class="badge-icon-bg b-locked">
                    <i class="fa-solid fa-database"></i>
                </div>
                <span class="badge-label">Data Wrangler</span>
            </div>
            <div class="badge-item">
                <div class="badge-icon-bg b-locked">
                    <i class="fa-solid fa-trophy"></i>
                </div>
                <span class="badge-label">Course Master</span>
                </div>
        </div>
    </div>
</section>
{% endblock content %} 