
{% extends '../shared/_base.html' %}
{% load static %}
{% load i18n %}
{% block title %} {% trans "Courses" %} {% endblock %}
{% block content %}
<main class="container">

  {% if user.is_authenticated %}
    
    {% if enrolled_courses %}
      <h1 class="page-title">{% trans "Your Courses" %}</h1>
      <div class="course-grid">
        {% for course in enrolled_courses %}
          {% trans "Continue" as continue_text %}{% include "courses/includes/course_card.html" with course=course button_text=continue_text show_progress=True %}
        {% endfor %}
      </div>
    {% endif %}

    <h1 class="page-title">{% if enrolled_courses %}{% trans "Other Courses" %}{% else %}{% trans "All Courses" %}{% endif %}</h1>
    <div class="course-grid">
      {% for course in unenrolled_courses %}
        {% include "courses/includes/course_card.html" with course=course %}
      {% empty %}
        {% if enrolled_courses %}
          <p>{% trans "There are no courses left." %}</p>
        {% endif %}
      {% endfor %}
    </div>

  {% else %}
    <h1 class="page-title">{% trans "All Courses" %}</h1>
    <div class="course-grid">
      {% for course in unenrolled_courses %}
        {% include "courses/includes/course_card.html" with course=course %}
      {% endfor %}
    </div>
  {% endif %}
</main>
{% endblock content %}