{% extends '../shared/_base.html' %}
{% block title %} Courses {% endblock %}

{% block content %}
<main class="container">

  {% if user.is_authenticated %}
    
    {% if enrolled_courses %}
      <h1 class="page-title">Your courses</h1>
      <div class="course-grid">
        {% for course in enrolled_courses %}
          {% include "courses/includes/course_card.html" with course=course button_text="Continue" show_progress=True %}
        {% endfor %}
      </div>
    {% endif %}

    <h1 class="page-title">{% if enrolled_courses %}Other courses{% else %}All courses{% endif %}</h1>
    <div class="course-grid">
      {% for course in unenrolled_courses %}
        {% include "courses/includes/course_card.html" with course=course %}
      {% empty %}
        {% if enrolled_courses %}
          <p>There are no courses left.</p>
        {% endif %}
      {% endfor %}
    </div>

  {% else %}
    <h1 class="page-title">All courses</h1>
    <div class="course-grid">
      {% for course in unenrolled_courses %}
        {% include "courses/includes/course_card.html" with course=course %}
      {% endfor %}
    </div>
  {% endif %}
</main>
{% endblock content %}