{% extends '../shared/_base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
{% load static %}
{% load i18n %}
    <section class="alert-components">
        <div class="container-fluid">
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title">
                  <h2>{{ lesson.title }}</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="alerts-wrapper">
            <div class="card-style mb-30">
              <iframe width="100%" height="480" src="{{ lesson.video_url }}" title="What is Data Science?" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
              <p class="text-sm mb-30 mt-30">{{ lesson.content }}</p>
            </div>
          </div>
        </div>
    </section>
{% endblock content %} 