{% load i18n %}
<!DOCTYPE html>
{% load static %}
{% load humanize %}
<nav class="navbar">
    <div class="logo">
        <i class="fa-solid fa-tree" style="color: var(--theme-green);"></i>
        Deepland
    </div>
        
    <div class="nav-links-middle">
        <a href="{% url 'course_list' %}" class="nav-link-item">Kurslar</a>
        <a href="{% url 'challenge_list' %}" class="nav-link-item active">Chellenjlar</a>
        <a href="#" class="nav-link-item">Contests</a>
        <a href="#" class="nav-link-item">Discuss</a>
    </div>

    <div class="user-stats">
        <div class="stat-item streak"><i class="fa-solid fa-fire"></i>15</div>
        <div class="stat-item gems"><i class="fa-solid fa-gem"></i>470</div>
        <img src="https://i.pravatar.cc/100?img=8" alt="User Avatar" class="avatar">
    </div>
</nav>