{% extends '../shared/_blank.html' %} 
{% block title %} Kirish {% endblock %} 
{% block content %} 
{% load static %} 
{% load i18n %} 
{% load socialaccount %}
<div class="login-wrapper">
  <div class="login-container">
    <div class="mascot-wrapper">
      <img src="https://cdn-icons-png.flaticon.com/512/4712/4712139.png" alt="Owl Mascot" class="mascot-img" />
    </div>
    <div class="login-card">
      <div class="login-header">
        <h1>Kirish</h1>
        <p>Deeplandda sayohatingizni davom ettiring</p>
      </div>
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group">
          <div class="input-wrapper">
            {{ form.username }}
            <i class="fa-regular fa-envelope input-icon"></i>
          </div>
        </div>
        <div class="form-group" style="margin-bottom: 10px">
          <div class="input-wrapper">
            {{ form.password }}
            <i class="fa-solid fa-lock input-icon"></i>
          </div>
        </div>
        <a href="#" class="forgot-pass">Parolni unutdingizmi?</a>
        <div class="cf-turnstile" data-sitekey="0x4AAAAAACXctAclxgTNx4Cl" data-theme="light"></div>
        <button type="submit" class="btn-login btn-transform">Kirish</button>
      </form>
      <div class="divider">
        <span>yoki</span>
      </div>
      <a href="{% provider_login_url 'google' %}" class="social-btn btn-transform">
        <i class="fa-brands fa-google icon-google" style="font-size: 1.2rem"></i>
        Google bilan kirish
      </a>
      <a class="social-btn btn-transform">
        <i class="fa-brands fa-github icon-github" style="font-size: 1.2rem"></i>
        GitHub bilan kirish
      </a>
      <div class="footer-links">
        Hisobingiz mavjud emasmi? <a href="{% url 'signup' %}">Ro'yxatdan o'tish</a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
