{% extends '../shared/_blank.html' %}
{% block title %} Ro'yxatdan o'tish {% endblock %}
{% load socialaccount %}
{% block content %}
{% load static %}
{% load i18n %}
<div class="login-wrapper">
    <div class="login-container">
        <div class="mascot-wrapper">
            <img src="https://cdn-icons-png.flaticon.com/512/4712/4712109.png" alt="Robot Mascot" class="mascot-img">
        </div>
        <div class="login-card">
            <div class="login-header">
                <h1>Ro'yxatdan o'tish</h1>
                <p>Deepland jamiyatiga qo'shiling.</p>
            </div>
            <form method="post">
              {% csrf_token %}
                <div class="form-group">
                    <div class="input-wrapper">
                      <input type="number" class="form-input" placeholder="Yoshingiz">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-wrapper">
                        <input type="text" class="form-input" placeholder="Ismingiz (Ixtiyoriy)">
                        <i class="fa-regular fa-user input-icon"></i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-wrapper">
                        <input type="email" class="form-input" placeholder="Elektron pochta">
                        <i class="fa-regular fa-envelope input-icon"></i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-wrapper">
                        <input type="password" class="form-input" placeholder="Parol">
                        <i class="fa-solid fa-lock input-icon"></i>
                    </div>
                </div>
                <button type="submit" class="btn-signup btn-transform">Ro'yxatdan o'tish</button>
            </form>
            <div class="terms-text">
                Ro'yxatdan o'tish orqali siz <a href="#">Xizmat shartlari</a> va <a href="#">Maxfiylik siyosatimizga</a> rozilik berasiz.
            </div>
            <div class="divider">
                <span>yoki</span>
            </div>
            <button class="social-btn btn-transform">
                <i class="fa-brands fa-google icon-google" style="font-size: 1.2rem;"></i>
                Google orqali kirish
            </button>
            <button class="social-btn btn-transform">
                <i class="fa-brands fa-github icon-github" style="font-size: 1.2rem;"></i>
                GitHub orqali kirish
            </button>
            <div class="footer-links">
                Hisobingiz bormi? <a href="{% url 'login' %}">Faollashtiring</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %} 